.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: var(--header-height);
    padding: 10px var(--grid-spacer);
    position: fixed;
    transition: background-color 0.5s ease-out;
}

.navigation {
    display: flex;
    align-items: center;
}

.logo {
    color: var(--primary);
    margin-left: -10px;
    margin-right: 10px;
}

.user {
    display: flex;
    align-items: center;
    justify-content: center;

    & > * {
        padding: 10px;
    }
}

.btn {
    cursor: pointer;
}

.noti-btn {
    color: var(--text-color--dark);
}

.user-btn {
    height: 32px;
    width: 32px;
    padding: 0;
    margin-left: 10px;

    border-radius: 50%;
    object-fit: cover;
}
