.wrapper {
    width: 100%;
    height: 200px;
    margin-top: 54px;
    border-top: 1px solid var(--white);
    background-color: var(--background-color--dark);
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}

.copyright-link {
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--primary);

    &:hover {
        color: #fc8803de;
    }
}
